[submodule "wishlist/src/Binah"]
	path = wishlist/src/Binah
	url = https://github.com/PLSysSec/binah.git
[submodule "conf/src/Binah"]
	path = conf/src/Binah
	url = https://github.com/PLSysSec/binah.git
[submodule "course/src/Binah"]
	path = course/src/Binah
	url = git@github.com:binah-framework/binah
