<!doctype html>
<html lang="en-US">
    <head>
        <title>Binah Conference Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <center>
        <h1>Tired of conference managers that leak your papers to your competitors?</h1>
        <h1>Welcome to the Binah Conference Manager</h1>
        <span>No leaks. Guaranteed!</span>
        </center>
    </body>
</html>
